minikube-linux-amd64
.env
target/
.classpath
.project.idea/
.settings/
.mvn/
*.jar
*.class
docker-compose.yml
start-vault.sh
zap_report.html
.idea/
.project
mvnw
mvnw.cmd
monitoring/grafana/banking_cves.db
